.title {
    text-align: center;
    text-shadow: 2px 2px 4px #898585;
}

.category {
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
}

.tag {
    font-size: 18px;
}

div#mokuji {
    background-color: lightgray;
    margin-right: 100px;
}

div#yuukou {
    background-color: azure;
}

div#tyuuritu {
    background-color: #ffffe0;
}

div#tekitai {
    background-color: #ffe4e1;
}

div#boss {
    background-color: #c0c0c0;
}

.yoko {
    display: flex;
    align-items: center;
    gap: 20px;
}

.yoko img {
    width: 40%;
    height: auto;
}

.text {
    width: 60%;
}

div.yuukou {
    background-color: aliceblue;
    margin: 20px 10px 0px 10px;
    padding: 0px 10px 10px 10px; 
}

html {
    scroll-behavior: smooth;
}
.pagetop-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.pagetop-btn:hover {
    background-color: #555;
}

details summary {
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display: none;
}